body{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}
.container {
    width:80%;
    margin:10% auto;
    padding: 20px;
}
.title {
    text-align: center;
    font-size:45px;
    font-weight: bold;
    margin-bottom:70px;
}
.about-content {
    display:flex;
    flex-wrap: wrap;
}
.image {
    flex:1;
    border-radius:10px;
    overflow:hidden;
    margin-right:15px;
}
.content {
    flex: 1;
    margin-left:15px;
}
.content p {
    padding-top:10px;
    font-size:17px;
    line-height: 1.6;
}
.readmore {
    margin-top:15px;
    display: inline-block;
    padding:10px 20px;
    text-decoration: none;
    font-size:17px;
    font-weight: bold;
    background-color:green;
    color: bisque;
    border-radius: 10px;
}
@media screen and (max-width:600px){
    .about-content {
        flex-direction:column;
    }
    .image{
        width:100%;
        margin: 0 auto;
    }
    .image, .content {
        margin-bottom: 20px;
        text-align: left;
    } 
    .title{
        font-size: 35px;
        margin-bottom: 50px;
    }  
    }
@media screen and (max-width:600px){
.about-content {
    flex-direction:column;
}

.image, .content {
    margin: 0%;
    margin-bottom: 20px;
} 
.title{
    font-size: 35px;
    margin-bottom: 50px;
}  
}